/* === Hero Section === */
.hero {
    position: relative;
    width: 100%;
    padding: 7rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-card {
    position: relative;
    background-color: var(--bg-card);
    border-radius: 30px;
    border: var(--border);
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    margin-bottom: 2rem;
    animation: slideIn 1s ease-out;
    margin-left: auto;
    margin-right: auto;
}

.hero-quote {
    font-family: var(--font-2) !important;
    color: var(--lighter-text);
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1.5rem;
    transition: var(--transition);
}

.hero-quote:hover {
    transform: rotate(-1deg);
}

.hero-info-text {
    font-family: var(--font-1);
    color: var(--lighter-text);
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.hero-info-link {
    font-family: var(--font-1);
    color: var(--lighter-text);
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.hero-info-link a {
    color: var(--bg-btn);
    text-decoration: none;
}

.hero-logo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 2rem;
    text-align: center;
    transition: var(--transition);
}

.hero-logo-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.hero-logo:hover {
    transform: rotate(2deg);
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.hero-button1, .hero-button2 {
    background-color: #111827;
    width: 100%;
    padding: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    font-family: var(--font-1);
    color: var(--lighter-text);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.hero-button1:hover, .hero-button2:hover {
    transform: scale(1.05) rotate(1deg);
}

@media (min-width: 768px) {
    .hero-buttons {
        flex-direction: row;
        justify-content: center;
    }
    
    .hero-button1, .hero-button2 {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .hero-card {
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }
}

@media (max-width: 1199px) {
    .hero-logo {
        display: none;
    }
    .nav-site-name {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .hero-card-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4rem;
    }
    
    .hero-card {
        width: 55%;
        margin-right: 2rem;
    }
    
    .hero-logo {
        width: 35%;
        margin-top: 0;
        margin-left: 0;
        display: block;
    }
    
    .hero-buttons {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: center;
        max-width: 600px;
    }
}